/* ================================================
  = PALETA DE CORES E VARIÁVEIS
  ================================================
*/

:root {
    /* Paleta de cores definida */
    --primary-brand-1: #4d22b3;
    --primary-brand-2: #3F1C93;
    --primary-light-1: #FFFFFF;
    --primary-light-2: #F6F4FA;
    --primary-light-3: #E2DEED;
    --primary-dark-1: #201736;
    --primary-dark-2: #382D53;
    --primary-dark-3: #52476B;

    /* Mapeamento Semântico (como as cores serão usadas) */
    --cor-fundo-claro: var(--primary-light-2);
    --cor-fundo-medio: var(--primary-light-3);
    --cor-fundo-branco: var(--primary-light-1);

    --cor-texto-principal: var(--primary-dark-1);
    --cor-texto-secundario: var(--primary-dark-2);
    --cor-texto-sobre-marca: var(--primary-light-3);
    --cor-texto-link-sobre-marca: var(--primary-light-1);

    --cor-marca-principal: var(--primary-brand-1);
    --cor-marca-secundaria: var(--primary-brand-2);
    --cor-borda-acento: var(--primary-dark-3);
}

/* ================================================
  CÓDIGO ADAPTADO
  ================================================
*/

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--cor-texto-principal);
    /* Antigo: #222222 */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 80%;
}

* {
    box-sizing: border-box;
}

/* Superinfo */

.superinfo-bg {
    background: var(--cor-marca-principal);
    /* Antigo: #6D28FE */
    color: var(--cor-texto-sobre-marca);
    /* Antigo: #E3DEED */
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo a {
    margin: 0 10px 10px 10px;
    color: var(--cor-texto-link-sobre-marca);
    /* Antigo: #FFFFFF */
}

.superinfo a:hover {
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

/* Menu */

.menu-bg {
    background: var(--cor-fundo-claro);
    /* Antigo: #F6F4FA */
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

.menu-logo a {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: var(--cor-marca-principal);
    /* Antigo: #6D28FE */
}

/* Introdução */

.introducao {
    /* font-size: 2.5em; */
    /* line-height: 1.5; */
    max-width: 960px;
    margin: 10px auto;
    padding: 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introducao h1 {
    color: var(--cor-marca-secundaria);
    /* Antigo: #874efe */
    font-size: 4em;
}

.introducao h2 {
    color: var(--cor-borda-acento);
    /* Antigo: #53476B */
    font-size: 2.25em;
}

/* Sobre */

.sobre {
    border-top: 2px solid var(--primary-brand-1);
    /* Antigo: #53476B */
    border-bottom: 2px solid var(--primary-brand-1);
    /* Antigo: #53476B */
    max-width: 960px;
    margin: 10px auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
}

.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

.sobre-info h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: var(--cor-marca-secundaria);
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

.sobre-img {
    flex: 1.75 1 160px;
    margin: 10px;
}

/* Produtos */

.produtos {
    max-width: 960px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos h1 {
    font-size: 3em;
    margin: 30px 10px 30px 10px;
    color: var(--primary-brand-2);
}

.produtos-container {
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    display: flex;
    align-items: center;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

/* .produtos-item h2 {
    font-size: 2em;
    color: var(--cor-texto-secundario);
    background: var(--cor-fundo-claro);
    padding: 60px 20px;
} */

.purple {
    border-top: 6px solid var(--cor-borda-acento);
    /* Antigo: #53476B */
    padding: 20px 20px;
}

.pink {
    border-top: 6px solid var(--cor-borda-acento);
    /* Antigo: #53476B */
    padding: 20px 20px;
}

.blue {
    border-top: 6px solid var(--cor-borda-acento);
    /* Antigo: #53476B */
    padding: 20px 20px;
}

/* Preço */

.preco {
    background: var(--cor-fundo-claro);
    /* Antigo: #F6F4FA */
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.preco-item {
    flex: 1 1 260px;
    border: 4px solid var(--cor-fundo-branco);
    /* Antigo: white */
    padding: 20px;
    margin: 10px;
    /* min-width: 280px; */
}

.preco-item h2 {
    font-size: 2.3em;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
    text-align: center;
    margin-top: 20px;
}

.preco-item span {
    max-width: 300px;
    margin: 20px auto;
    display: block;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    padding: 10px 0 5px 0;
    border-top: 4px solid var(--cor-fundo-branco);
    /* Antigo: white */
}

.preco-item sup {
    font-size: .5em;
}

.preco-item sub {
    font-size: .4em;
}

.preco-item ul {
    max-width: 300px;
    margin: 20px auto;
    font-size: 1.25em;
    /* line-height: 1; */
    /* font-style: italic; */
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

.preco-item li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.preco-item li::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: var(--cor-marca-secundaria);
    /* Antigo: #874efe */
    border-radius: 50%;
}

.preco-item a {
    max-width: 300px;
    display: block;
    margin: 20px auto;
    border: 4px solid;
    color: var(--cor-marca-secundaria);
    /* Antigo: #874efe */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding: 15px 0;
    text-align: center;
}

.preco-item:nth-child(3) {
    background: var(--cor-fundo-medio);
    /* Antigo: #E3DEED */
}

@media (max-width: 800px) {
    .preco {
        padding-left: 10px;
        padding-right: 10px;
    }

    .preco .preco-item:nth-child(3) {
        order: -2;
    }

    .preco .preco-item:nth-child(2) {
        order: -1;
    }
}

/* Qualidade */

.qualidade {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 10px;
}

.qualidade-item h2 {
    font-size: 2.25em;
    color: var(--primary-dark-3);
    /* Antigo: #392D53 */
    margin-bottom: 20px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    /* background: var(--cor-marca-principal); */
    /* Antigo: #6D28FE */
}

/* Quero falar com o before do h2 do terceiro item */
/* Posso colocar uma expressão - 3n+1. Significa que o 1 seja selecionado 
e depois do 1 quero o terceiro item depois do 1.  */

.qualidade-item:nth-of-type(3n+1) h2::before {
    background: var(--cor-marca-principal);
    /* Antigo: #6121EB */
}

.qualidade-item:nth-of-type(3n+2) h2::before {
    background: var(--cor-marca-principal);
    /* Antigo: #6121EB */
}

.qualidade-item:nth-of-type(3n+3) h2::before {
    background: var(--cor-marca-principal);
    /* Antigo: #6121EB */
}

.qualidade-item p {
    font-size: 1.25em;
    line-height: 1.4;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

/* Newsletter */

/* Vamos pintar a área com CSS usando "calc"*/

.newsletter {
    background: var(--cor-fundo-claro);
    /* Antigo: #F6F4FA */
    /* Quero 100% que é o total do meu layout, 
    menos 960px que é o total do meu container, divididos por 2 */
    padding: 60px calc((100% - 960px) / 2);
    display: flex;
    flex-wrap: wrap;
}

.newsletter-info {
    flex: 1 1 260px;
    margin: 0 10px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}

.newsletter-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 230px;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form input {
    flex: 3 1 200px;
    font-size: 1.25em;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
    border: 4px solid var(--cor-marca-principal);
    /* Antigo: #6121EB */
    background: transparent;
    padding: 15px 10px;
    margin: 0px;
    border-radius: 0px;
}

.newsletter-form button {
    flex: 1 1 200px;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--cor-marca-principal);
    /* Antigo: #6121EB */
    color: var(--cor-fundo-claro);
    /* Antigo: #F6F4FA */
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
}

@media (max-width: 600px) {
    .newsletter-form button {
        font-size: 1.5em;
    }
}

/* Footer */

.footer {
    display: flex;
    height: 200px;
    background: var(--cor-fundo-medio);
    /* Antigo: #E3DEED */
    align-items: center;
}

.footer p {
    flex: 1;
    text-align: center;
    font-size: 2.25em;
    color: var(--cor-texto-secundario);
    /* Antigo: #392D53 */
}