* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background: #000;
    color: #f5f5f7;
}

a {
    text-decoration: none;
    color: #f5f5f7;
}

header {
    height: 100px;
    background-color: #430335;
}

.menu-superior ul {
    list-style-type: none;
    overflow: hidden;
    /* Garante que nada saia dos limites do Menu */
    text-align: center;
}

.menu-superior li {
    /* float: left; Flutua todos os elementos a esquerda */
    display: inline-block;
    /* Coloca os LI como blocos na mesma linha */
}

.menu-superior li a {
    /* Faz o A pegar todo o espaço do LI - CAI NA PROVA */
    display: block;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 41px 25px;
    text-decoration: none;
}

/* HOVER aciona o CSS quando o mouse passa por cima do elemento */
.menu-superior li a:hover {
    background-color: #032e53;
    color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: translateY(-10px);
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #032e50;
    width: 100%;
}

footer p {
    text-align: center;
    padding: 18px 0;
}

.container {
    padding: 0 20%;
    height: calc(100% - 154px);

}